* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 40px;
}

.search-bar {
    width: 350px;
    height: 30px;
    padding: 0 10px;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
}

/**.bg-container {
  background-image: url("./assets/Poster.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
}**/

.bg-items {
  width: 404px;
  height: 285px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  top: 100px;
  left: 45px;
  position: relative;
  color: white;
}

/** Card **/
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 18px;
  }
  
.grid-card {
    display: inline-block;
    width: 220px; 
    padding: 20px;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
  }
  
  .movie img {
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
 
  .card-details {
    flex: 1;
  }
  
  .movie-title {
    font-size: 24px;
    margin: 0;
  }
  
  .card-ratings {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .card-ratings span {
    font-weight: bold;
  }
  
/** Featured **/
.featured-container{
    color: black;
    padding: 10px 40px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

/** Footer **/
.footer-container{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    padding: 60px 0px;
}

.footer-container .logo{
    display: flex;
    gap: 2em;
}

.footer-container .text{
    display: flex;
    gap: 2em;
}

/**Pages**/
.details-container{
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar-container{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 20px 20px;
    border: 1px solid gray;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sidebar-container .same-div {
    display: flex;
    align-items: center;
    gap: 1.2em;
}

.sidebar-container .quiz{
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid pink;
    border-radius: 10px;
    padding: 35px 35px;
}

.sidebar-container .quiz button{
    color: pink;
    background-color: rgb(255, 113, 137);
    outline: none;
    border: none;
    padding: 7px;
    border-radius: 7px;
}

.movie-details {
    padding: 20px 20px;
}

.image-div img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.flex-details{
    display: flex;
    gap: .6em;
    align-items: center;
}

.more-info{
    display: flex;
    gap: 1.6em;
}

.description {
    padding: 20px 0px;
    width: 490px;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.bg-top{
    display: flex;
    gap: .4em;
    border: 1px solid red;
}

.image-stack {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.image-stack p{
    border: 1px solid red;
    border-radius: 6px;
    padding: 7px 20px;
    text-align: center;
    background-color: rgb(252, 112, 135);
    color: white;
}